h2 {
    padding: 0.5em;
    margin-bottom: 1em;
    color: black;
    background: #bdecbc;
    border-top: solid 3px #31b955;
    border-bottom: solid 3px #31b955;
}

form {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

@media screen and (max-width: 480px) {
    form {
        margin-top: 40px;
    }
}

.form-group {
    border-top: 1px solid #ddd;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .form-group {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 16px;
        padding-bottom: 16px;
        flex-wrap: wrap;
    }
}

.form-label {
    width: 100%;
    max-width: 248px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    .form-label {
        max-width: inherit;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
}

.form-label.isMsg {
    margin-top: 8px;
    margin-bottom: auto;
}

@media screen and (max-width: 480px) {
    .form-label.isMsg {
        margin-top: 0;
    }
}

.form-group-text-required {
    border-radius: 6px;
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 48px;
    display: inline-block;
    text-align: center;
    background: #5bc8ac;
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width: 480px) {
    .form-group-text-required {
        border-radius: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 32px;
        font-size: 10px;
    }
}

input {
    border: 1px solid #080808;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #f4f5f7;
    font-size: 18px;
}

select {
    border: 1px solid #080808;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    background: #f4f5f7;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    input {
        margin-left: 0;
        margin-top: 18px;
        height: 40px;
        flex: inherit;
        font-size: 15px;
    }
}

textarea {
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-left: 40px;
    padding-left: 1em;
    padding-right: 1em;
    height: 216px;
    flex: 1;
    background: #eaedf2;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    textarea {
        margin-top: 18px;
        margin-left: 0;
        height: 200px;
        flex: inherit;
        font-size: 15px;
    }
}

.btn {
    border-radius: 6px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    .btn {
        margin-top: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 160px;
        font-size: 16px;
    }
}

/* テーブルのスタイル */
table {
    border-collapse: collapse;
    /* セルの境界線を重ねる */
    width: 100%;
    border: 2px solid #ddd;
    /* テーブル全体の罫線 */
}

/* ヘッダー行のスタイル */
th {
    background-color: #f2f2f2;
    /* ヘッダーの背景色 */
    border: 1px solid #ddd;
    /* セルの罫線 */
    padding: 8px;
    text-align: left;
}

/* データ行のスタイル（奇数行と偶数行で背景色を交互に設定） */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* データセルのスタイル */
td {
    border: 1px solid #ddd;
    /* セルの罫線 */
    padding: 8px;
    text-align: left;
}
